<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Tempat berbagi makanan yang ada di Indonesia"
    />
    <meta name="theme-color" content="#b8de6f" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <!-- Icon -->
    <link rel="icon" href="icon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

    <link rel="manifest" href="manifest.json" />

    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip to Content</a>
    <header>
      <header-bar></header-bar>
    </header>
    <main id="mainContent" class="content"></main>
    <footer>
      <p>Copyright © 2020 Berbagi Nasi Apps</p>
    </footer>
  </body>
</html>
